.container-dados {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 280px;
}

@media (max-width: 1200px) {
  .container-dados {
    grid-template-columns: 1fr;
  }
}

.aside-dados {
  align-self: flex-start;
  background-color: var(--bg2);
  border-radius: var(--radius);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  position: sticky;
  top: var(--gap);
  right: 0;
}

.aside-dados h3 {
  color: var(--cor3);
  font-weight: normal;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .aside-dados {
    position: static;
  }
}

.card {
  height: 150px;
  background-color: var(--bg1);
  border-radius: var(--radius);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}

.box-cartao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-cartao img {
  width: 35px;
}

.box-cartao p {
  font-size: 0.845rem;
  color: var(--cor3);
  font-weight: bold;
}

.vencimento {
  text-align: center;
}

.vencimento h4 {
  color: var(--cor3);
  font-size: 0.845rem;
}

.vencimento p {
  color: var(--cor3);
  font-weight: bold;
}

.box-select-banco {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.btn-cartao {
  background-color: var(--cor-principal);
  color: #111;
  font-weight: bold;
  padding: var(--gap);
  border-radius: var(--radius);
  text-align: center;
  font-size: 1rem;
  border: 0;
  outline: none;
  cursor: pointer;
}

.btn-cartao:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.select {
  height: 280px;
  border-radius: var(--radius);
  background-color: var(--bg1);
  padding: var(--gap);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  overflow: auto;
}

.select.active {
  visibility: visible;
  opacity: 1;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
  cursor: pointer;
  border-radius: var(--radius);
}

.option:hover p {
  color: var(--cor3);
}

.option span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--cor-principal);
}

.option p {
  color: var(--cor1);
  font-size: 0.845rem;
}

/*  Header dados  */

.box-header {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  position: sticky;
  top: var(--gap);
  right: 0;
  z-index: 1;
  background-color: var(--bg2);
  padding: var(--gap);
  border-radius: var(--radius);
}

.header-dados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--gap);
}

@media (max-width: 1200px) {
  .box-header {
    position: static;
  }
  .header-dados {
    grid-template-columns: 1fr;
  }
}

.box-dados {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap);
}

.box-dados h2 {
  color: var(--cor3);
  font-size: 1.125rem;
}

.column3 {
  background-color: var(--bg1);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--gap);
  position: relative;
  height: 150px;
}

.column3 h3 {
  color: var(--cor3);
  font-weight: normal;
  font-size: 0.845rem;
  line-height: 1.2;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.column3 h3::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--green);
}

.column3 p {
  color: var(--cor2);
  font-size: 1.5rem;
  font-weight: bold;
}

[data-card] {
  width: 450px;
  position: absolute;
  top: 170px;
  left: 0;
  padding: var(--gap);
  background-color: var(--bg3);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translate3d(0, -15px, 0);
}

[data-card].active {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-card] form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

[data-card]::before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid var(--bg3);
  position: absolute;
  top: -20px;
  left: 20px;
}

[data-card] input,
[data-card] button {
  width: 100%;
  height: 45px;
  background: none;
  border: 0;
  outline: none;
  border-radius: var(--radius);
  padding: 0 1.25rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: var(--cor2);
  background-color: var(--bg2);
}

[data-card] input::placeholder {
  color: var(--cor1);
}

[data-card] button {
  color: #111;
  background-color: var(--cor-principal);
  cursor: pointer;
  font-weight: bold;
}

[data-card] button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 1200px) {
  [data-card] {
    width: 100%;
  }
}

.aviso-venc {
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: var(--cor-principal);
  color: #fff;
  font-size: 0.75rem;
  padding: 5px;
  border-radius: 3px;
  display: none;
}

[data-cartao="transacao"] {
  padding: 0;
}

[data-cartao="transacao"] .adicionar-transacao {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: var(--gap);
}

[data-cartao="transacao"] .adicionar-transacao:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-cartao="transacao"] .adicionar-transacao i {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--cor-principal);
}

[data-cartao="transacao"] .adicionar-transacao span {
  font-size: 0.75rem;
  color: var(--cor2);
}

.btn-saldo {
  background-color: var(--cor-principal);
  color: #fff;
  font-size: 0.75rem;
  padding: 0.625rem 1.25rem;
  border-radius: var(--radius);
  margin-top: 1.25rem;
}

.container-tabela {
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.box-transacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--cor2);
  font-size: 0.845rem;
  padding: 1.25rem;
  background-color: var(--bg3);
  border-radius: 0 var(--radius) var(--radius) 0;
  position: relative;
}

.box-transacao div {
  flex: 1;
}

.box-transacao div span {
  color: var(--cor2);
}

.box-transacao p {
  color: var(--cor1);
  margin-bottom: 5px;
  font-weight: bold;
}

.box-transacao div:nth-child(2) {
  text-align: right;
}

.estabelecimento p {
  color: var(--cor2);
  text-transform: uppercase;
}

.neg,
.pos {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  border-radius: var(--radius) 0 0 var(--radius);
}

.pos {
  background-color: var(--green);
}

.neg {
  background-color: var(--red);
}

.container-saldo {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.box-saldo {
  display: flex;
  align-items: center;
}

.container-saldo input {
  background: none;
  padding: 0;
}

.box-deposito {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.btn-depositar {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: var(--cor-principal);
  color: #111;
  font-weight: bold;
  padding: 0.625rem 1.25rem;
  border-radius: var(--radius);
  font-size: 0.75rem;
}
