.container-dados {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 280px;
}

.aside-dados {
  background-color: var(--bg2);
  height: 100%;
  border-radius: var(--radius);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.aside-dados h3 {
  color: var(--cor3);
  font-weight: normal;
  font-size: 1rem;
}

.card {
  height: 150px;
  background-color: var(--bg1);
  border-radius: var(--radius);
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}

.box-cartao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-cartao img {
  width: 35px;
}

.box-cartao p {
  font-size: 0.845rem;
  color: var(--cor3);
  font-weight: bold;
}

.vencimento {
  text-align: center;
}

.vencimento h4 {
  color: var(--cor3);
  font-size: 0.845rem;
}

.vencimento p {
  color: var(--cor3);
  font-weight: bold;
}

.box-select-banco {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.btn-cartao {
  background-color: var(--cor-principal);
  color: #fff;
  padding: var(--gap);
  border-radius: 30px;
  text-align: center;
  font-size: 1rem;
  border: 0;
  outline: none;
  cursor: pointer;
}

.btn-cartao:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.select {
  height: 280px;
  border-radius: var(--radius);
  background-color: var(--bg1);
  padding: var(--gap);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  overflow: auto;
}

.select.active {
  visibility: visible;
  opacity: 1;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
  cursor: pointer;
  border-radius: var(--radius);
}

.option:hover p {
  color: var(--cor3);
}

.option span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--cor-principal);
}

.option p {
  color: var(--cor1);
  font-size: 0.845rem;
}

/*  Header dados  */

.header-dados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--gap);
}

.box-dados {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap);
}

.box-dados h2 {
  color: var(--cor3);
  font-size: 1.125rem;
}

.column3 {
  background-color: var(--bg2);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--gap);
  position: relative;
}

.column3 h3 {
  color: var(--cor3);
  font-weight: normal;
  font-size: 0.845rem;
  line-height: 1.2;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.column3 h3::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--green);
}

.column3 p {
  color: var(--cor2);
  font-size: 1.5rem;
  font-weight: bold;
}

.aviso-venc {
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: var(--cor-principal);
  color: #fff;
  font-size: 0.75rem;
  padding: 5px;
  border-radius: 3px;
  display: none;
  font-weight: bold;
}

[data-cartao="transacao"] {
  padding: 0;
}

[data-cartao="transacao"] .adicionar-transacao {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: var(--gap);
}

[data-cartao="transacao"] .adicionar-transacao:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-cartao="transacao"] .adicionar-transacao i {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--cor-principal);
}

[data-cartao="transacao"] .adicionar-transacao span {
  font-size: 0.75rem;
  color: var(--cor2);
}

.form-transacao {
  position: absolute;
  top: 120px;
  left: 0;
  width: 450px;
  padding: var(--gap);
  background-color: var(--bg3);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translate3d(0, -15px, 0);
}

.form-transacao.active {
  visibility: visible;
  opacity: 1;
  top: 100px;
  transform: translate3d(0, 0, 0);
}

.form-transacao::before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid var(--bg2);
  position: absolute;
  top: -20px;
  left: 20px;
}

.form-transacao input,
.form-transacao button {
  width: 100%;
  height: 45px;
  background-color: var(--bg4);
  border: 0;
  outline: none;
  border-radius: var(--radius);
  padding: 0 1.25rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: var(--cor2);
}

.form-transacao input::placeholder {
  color: var(--cor1);
}

.form-transacao button {
  color: #fff;
  background-color: var(--cor-principal);
  cursor: pointer;
}

.form-transacao button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.box-transacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--cor2);
  font-size: 0.75rem;
  padding: var(--gap) 0;
}

.box-transacao + .box-transacao {
  border-top: 1px solid var(--border-color3);
}

.box-transacao div {
  flex: 1;
}

.box-transacao div span {
  color: var(--cor2);
}

.box-transacao p {
  color: var(--cor1);
  margin-bottom: 5px;
}

.box-transacao div:nth-child(2) {
  text-align: right;
}
